* {
    margin: 0;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}
.navbar {
    background-color: #1f1a1a;
    margin: 0;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    color: rgb(240, 240, 240);
}
.nav-links {
    display: flex;
    margin-left: 20px; 
}
.navbar a {
    padding: 3px 8px;
    text-decoration: none;
    color: #e6e3e3;
}
.navbar a:hover {
    color: blue;
}
.navbar input {
    border: 2px solid black;
    border-radius: 14px;
    padding: 5px;
    width: 140px;
}
.search-container {
    display: flex;
    margin-left: auto;
}
.fancy-search {
    padding: 10px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 200px;
    outline: none;
}
.search-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
}
.search-button:hover {
    background-color: #45a049;
}
h1 {
    font-size: 25px;
}
h2 {
    margin: 26px;
    font-size: 35px;
    font-weight: bold;
}
main {
    padding: 10px;
}
.products-container {
    width: 100%;
    height: 1200px;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
}
.product-group {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 360px;
}
.product-group .product {
    flex-direction: row;
    width: 278px;
    height: 360px;
    padding: 15px;
    border: 2px solid rgb(199, 199, 199);
}
.product-group .product p{
    font-weight: 500;
}
.product-group .product button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}
.product-group .product button:hover {
    background-color: #339c38;
}
.product-group .product h3 {
    font-family:sans-serif;
    font-weight: 550;
    font-size: 22px;
}
.product img {
    height: 155px;
    width: 150px;
    display: block;
    margin: 20px auto;
    padding: 4px;
}
#product4 img {
    width: 278px;
}
footer {
    background-color: #336699;
    color: white;
    padding: 20px;
    text-align: center;
}