* {
    margin: 0;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}
main {
    padding: 38px;
    background-color: #f8f8f8;
}
main h1 {
    font-weight: bold;
}
/* navbar */
.navbar {
    background-color: #1f1a1a;
    margin: 0;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    color: rgb(240, 240, 240);
}
.nav-links {
    display: flex;
    margin-left: 20px;
}
.navbar a {
    padding: 3px 8px;
    text-decoration: none;
    color: #e6e3e3;
}
.navbar a:hover {
    color: blue;
}
.navbar input {
    border: 2px solid black;
    border-radius: 30px;
    padding: 5px;
    width: 140px;
    height: 50px;
}
.navbar h1 {
    font-size: 25px;
}
/* search bar */
.search-container {
    display: flex;
    margin-left: auto;
}
.fancy-search {
    padding: 10px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 200px;
    outline: none;
}
.search-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
}
.search-button:hover {
    background-color: #45a049;
}
#products h2 {
    margin: 20px;
    font-size: 35px;
    font-weight: bold;
}
/* Products */
.products-container {
    width: 100%;
    height: 1200px;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
}
.product-group {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 360px;
}
.product-group .product {
    background-color: white;
    flex-direction: row;
    width: 278px;
    height: 360px;
    padding: 15px;
    border: 2px solid rgb(199, 199, 199);
}
.product-group .product p{
    font-weight: 500;
}
.product-group .product button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}
.product-group .product button:hover {
    background-color: #339c38;
}
.product-group .product h3 {
    font-family:sans-serif;
    font-weight: 550;
    font-size: 22px;
}
.product img {
    height: 155px;
    width: 150px;
    display: block;
    margin: 20px auto;
    padding: 4px;
}
.product hr {
    border: 1px thin rgb(199, 199, 199);
}
#product4 img {
    width: 278px;
}
/* footer */
#foot-cp {
    background-color: #26496b;
    color: white;
    padding: 20px;
    text-align: center;
}
/* Description */
.desc-box {
    background-color: #336699;
    height: 575px;
    padding-top: 50px;
    padding-left: 130px;
    padding-right: 180px;
}
.desc-box p {
    padding: 15px 30px;
    color: #fbdfdf;
    font-weight: 500;
}
footer hr {
    height: 15px;
    border: 2px solid #608ab4;
    background-color: #608ab4;
}
/* about.html */
.about-para {
    padding: 18px 68px;
    font-size: 18px;
}
.about-para p {
    color: #333;
    font-weight: 400;
}
.about-para h2 {
    font-weight: 500;
}
/* Contact.html */
.contact-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 10px;
    border: 2px solid rgb(160, 159, 159);
}
.contact-section h1 {
    padding:  8px 80px;
    font-size: 28px;
    padding-top: 30px;
}
.contact-info {
    padding: 12px 86px;
    font-size: 18px;
}
.contact-info p {
    margin-bottom: 10px;
}
.contact-info li {
    margin-bottom: 5px;
}
.contact-info ul {
    list-style-type: none;
    padding-left: 3px;
}
.contact-form {
    text-align: center;
    padding: 15px;
}
.contact-form label {
    display: block;
    margin-bottom: 5px;
}
.contact-form input, textarea, button{
    width: 80%;
    margin: 6px auto;
    padding: 4px;
    display: block;
    text-align: center;
    border: 1px solid gray;
    border-radius: 12px;
    font-size: 16px;
    color: black;
}
/* .contact-form button {
    width: 80%;
    display: block;
    margin: auto;
    width: 70%;
    border: 2px solid rgb(109, 109, 109);
} */